# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# tab indentation, 4 columns, and utf-8 encoding
[**.lua]
indent_style = tab
indent_size = 4
charset = utf-8
